<div class="container row center">
    <div class="col s6 tutor-profile">
        <div class="row">
            <h2 value="{{tutor.id}} " id="tutor-name">{{tutor.first_name}} {{tutor.last_name}}</h2>
        </div>

        <div class="row">
            <h3>Subject:</h3>
            <br>
            <p>{{tutor.subject}}</p>
        </div>

        <div class="row">
            <h3>Hourly Rate:</h3>
            <br>
            <p>${{tutor.hourly_rate}}</p>
        </div>

        <div class="row">
            <h3>Description:</h3>
            <br>
            <p>{{tutor.description}}</p>
        </div>

        <div class="row">
            <h3>Interests:</h3>
            <br>
            <p>{{tutor.interest}}</p>
        </div>

        <div class="row">
            <h3>Career:</h3>
            <br>
            <p>{{tutor.career}}</p>
        </div>
    </div>

    <div class="col s6">
        {{#if studentLoggedIn}}
        <div class="row">
            <form class="review-form">
                <div class="row">
                    <textarea id="review" placeholder="Write your Review"></textarea>
                </div>

                <div>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
        {{/if}}

        <div class="row">
            <h2>Reviews:</h2>
        </div>

        {{#each tutor.reviews as |review|}}
        <div class="row">
            <div>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{review.student.first_name}} {{review.student.last_name}}</span>
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/javascript/write-review.js"></script>